<div class="thread-section">

  <div class="thread-count">
    <span><h3>User: {{userName$ | async }}</h3></span>
    <span class="unread-messages-counter" [ngClass]="{unread: (counterOfUnreadMessages$ | async) > 0 }">
            Unread messages: {{counterOfUnreadMessages$ | async }}
        </span>
  </div>

  <thread-list [threads]="threadSummary$ | async"
               [selectedId]="uiState?.currentSelectedID"
               (selectedThread)="onThreadSelected($event)">
  </thread-list>
</div>
